<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gembot">

    <application
        android:name=".GeMBotApp"
        android:label="GeMBot"
        android:theme="@style/Theme.GeMBot">
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
